.chat-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.scroll-container {
  overflow: scroll;
}

.conversation {
  display: flex;
  flex-flow: column nowrap;
}

.chat-page__bubble {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px;
  background-color: #7cc5d9;
  color: #1c2c4c;
  //box-shadow: -1px 1px 1px 1px #4c768d;
  max-width: calc(100% - 40px);
}

.chat-page__bubble--right {
  align-self: flex-end;
  background-color: #fff;
  //box-shadow: -1px 1px 1px 1px #88dded;
  border: 1px solid #88dded;
}

.chat-page__bubble-role {
  font-weight: bold;
  margin-bottom: 5px;
  color: #1c2c4c;
  visibility: hidden;
}

.chat-page__bubble-message {
  text-align: start;
}

.message-time {
  display: block;
  text-align: right;
}

/* send message */
.send-message {
  width: 100%;
  padding: 15px;
  background-color: #4c768d;
  display: flex;
}

.send-message > label {
  display: none;
}

.send-message > input {
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  flex-grow: 1;
  background-color: white;
  color: #1c2c4c;
  font-size: 1rem;
}

.send-message > input:placeholder {
  color: #ddd;
}

.send-message > :is(input, button):focus {
  outline: none;
  border-bottom: 1px solid #7cc5d9;
}

.send-message > button {
  width: 70px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  color: #242443;
  border: 1px solid #7cc5d9;
  background-color: #7cc5d9;
  font-weight: 600;
}
